<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Login page</title>

    <div layout:fragment="content">
        <div id="feedback">
            <form th:action="@{/login}" method="post" class="form-group">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" />
                <input type="submit" value="Log in" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</head>
</html>